{% extends 'layout.html' %}

{% block title %}Receptionist Dashboard{% endblock %}

{% block content %}
    <h2>Welcome, Receptionist {{ session['username'] }}!</h2>
    <div class="dashboard-container">
        <div class="card">
            <h3>Patient Management</h3>
            <ul>
                <li><a href="{{ url_for('view_patient_records') }}" class="button">View Patient Records</a></li>
                <li><a href="{{ url_for('register_patient') }}" class="button">Register Patient</a></li>
                <li><a href="{{ url_for('deregister_patient') }}" class="button">Deregister Patient</a></li>
            </ul>
        </div>
        <div class="card">
            <h3>Appointment Management</h3>
            <ul>
                <li><a href="{{ url_for('create_appointment') }}" class="button">Create Appointment</a></li>
                <li><a href="{{ url_for('view_all_appointments') }}" class="button">View All Appointments</a></li>
            </ul>
        </div>
    </div>
{% endblock %}