{% extends 'layout.html' %}

{% block title %}Receptionist Dashboard{% endblock %}

{% block content %}
    <h2>Welcome, Receptionist {{ session['username'] }}!</h2>
    <div class="dashboard-actions">
        <h3>Actions</h3>
        <ul>
            <li><a href="{{ url_for('check_patient') }}">Check Patient Records/Appointments</a></li>
            <li><a href="{{ url_for('create_appointment') }}">Create Appointment</a></li>
            <li><a href="{{ url_for('view_all_appointments') }}">View All Appointments</a></li>
            <li><a href="{{ url_for('register_patient') }}">Register Patient</a></li>
            <li><a href="{{ url_for('deregister_patient') }}">Deregister Patient</a></li>
        </ul>
    </div>
{% endblock %}